:root {
  --white-color: #ffffff;
  --white-transparent-color: rgba(255, 255, 255, 0.5);
  --black-color: #141414;
  --dark-green-color: #1e2827;
  --dark-gray-color: rgba(20, 20, 20, 0.5);
  --light-gray-color: rgba(20, 20, 20, 0.4);
  --copy-color: #c6cdd1;
  --red: red;

  --text-fond-family: "Epiloque", sans-serif;
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-fond-family);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Classes */

.container {
  max-width: 1440px;
  margin: auto;
}
